/* Hide the feedback button in the boards page */
.BoardComponent .top-head .TopBar {
	display: none !important;
}

/* Fixes for the desktop boards page */
.CalendarContainer {
	width: 100%;
	height: 100%;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	padding-bottom: 10px !important;
	padding-right: 80px !important;
}

.ShareBoardButton .Button.size--medium {
	padding: 0 10px !important;
	height: 30px !important;
}

.ViewTitle .add-buttons {
	margin-top: 5px !important;
}

.focalboard-body .DateRange .Modal {
	left: -240px !important;
}

@media only screen and (max-width: 768px) {
	/* Fixes for the mobile boards page */
	.BoardComponent .top-head .mid-head {
		margin-top: 80px !important;
		flex-wrap: wrap !important;
		gap: 15px !important;
	}

	.focalboard-body .ViewTitle > .add-buttons .Button {
		display: flex !important;
	}

	.mid-head {
		margin-left: 6px;
	}

	.fc-toolbar-title {
		text-align: center !important;
	}

	.fc-header-toolbar .fc-toolbar-chunk:nth-of-type(3) {
		justify-content: center !important;
		align-items: center !important;
		display: flex !important;
		flex-direction: row !important;
		flex-wrap: wrap !important;
	}

	.fc-dayGridWeek-button {
		margin-left: 12px;
	}

	.CalendarContainer {
		padding-right: 20px !important;
	}

	.d-flex.justify-content-between.tabs-inputs {
		flex-wrap: wrap;
		gap: 15px;
	}

	.focalboard-body .ShareBoardDialog .tabs-content .tabs-inputs .input-container {
		width: 100% !important;
	}

	.WorkspaceTitle {
		margin-bottom: 15px;
	}

	.octo-sidebar-header.show-button:hover {
		background-color: var(--center-channel-bg) !important;
	}
}

@media only screen and (max-width: 975px) {
	/* Fixes for the boards mobile card detail popup */
	.dialog:has(.CardDetail) {
		border-radius: 0 !important;
	}
}

@media only screen and (max-width: 430px) {
	/* Fixes for other boards mobile popups */
	.Menu.noselect {
		width: 100vw !important;
		max-width: 100vw !important;
		min-height: 100vh !important;
		background-color: var(--center-channel-bg) !important;
		padding: 40px !important;
		display: flex !important;
	}

	.focalboard-body .DateRange .Modal {
		position: fixed !important;
		overflow: scroll !important;
		margin: 40px !important;
		left: 0 !important;
	}

	.CardDetail {
		overflow-x: scroll !important;
	}

	.focalboard-body .SubMenuOption .SubMenu.Menu.noselect.bottom {
		background-color: var(--center-channel-bg) !important;
	}

	.menu-option.menu-cancel {
		justify-content: center !important;
		border-radius: 5px !important;
	}

	.Menu.noselect .menu-contents {
		justify-content: center !important;
	}

	.MenuOption {
		border-radius: 5px !important;
	}

	.ModalWrapper .Modal.bottom {
		top: 0 !important;
		max-width: 100vw !important;
	}

	.Modal.bottom .toolbar {
		visibility: hidden !important;
	}

	.FilterComponent {
		padding-right: 30px;
		max-width: 100%;
	}

	.SwitchOption .Switch {
		margin-left: 10px;
	}

	.dialog .toolbar {
		padding-left: 0px !important;
	}

	.cardFollowBtn {
		padding: 0 10px !important;
	}

	.BoardSwitcherDialog .toolbar {
		width: 100% !important;
		padding-left: 20px !important;
	}

	.BoardSwitcherDialog .dialog {
		width: 80% !important;
	}

	.BoardSwitcherDialog .noResults {
		visibility: hidden !important;
	}

	.BoardSwitcherDialog .dialog-subtitle {
		display: none !important;
	}
}
