/* Hide the Mattermost name, icon and free label tag from the home page */
[class^="ProductBrandingTeamEditionContainer"] {
	display: none !important;
}

/* Hide the Mattermost name, icon and free label tag from the login page */
.header-logo-link:has(> .freeBadge) {
	display: none !important;
}

/* Hide the team edition warning in the bottom of the open top left corner menu */
#startTrial {
	display: none !important;
}

/* Hide the leftover menu divider that was above the warning */
li.menu-divider:has(+ #startTrial) {
	display: none !important;
}

/* Hide the free trial banner / upgrade card in the admin console license page */
.admin-console__banner_section:has(.AlertBanner.info.AlertBanner--sys) {
	display: none !important;
}

/* Hide the TeamEditionRightPanel card in the right panel of the admin console license page */
.right-panel:has(> .panel-card + .compare-plans-text) {
	display: none !important;
}

/* Hide any upgrade dialogs that pop up*/
div[role="dialog"]:has(> #StartTrialFormModal) {
	display: none !important;
}

/* Hide the footer notice text */
.footer-copyright {
	display: none !important;
}
