/* Hide the Mattermost name, icon and free label tag from the home page */
[class^="ProductBrandingTeamEditionContainer"] svg {
    display: none !important;
    visibility: hidden !important;
}
[class^="ProductBrandingTeamEditionContainer"] div {
    display: none !important;
}
[class^="ProductBrandingTeamEditionContainer-jtUrLg hiiIUg"] {
    background-image: url('https://raw.githubusercontent.com/rdgr1/mattermost-plugin-freemium-logo/refs/heads/main/imgs/png/Logo-Bra.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 240px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
/* Hide the Mattermost name, icon and free label tag from the login page */
.header-logo-link:has(> .freeBadge) {
	display: none !important;
}
.header-logo-link {
    font-size: 0 !important;
    background-image: url('https://raw.githubusercontent.com/rdgr1/mattermost-plugin-freemium-logo/refs/heads/main/imgs/png/Logo-Login.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 270px !important;
    height: 70px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
/* Hide the team edition warning in the bottom of the open top left corner menu */
#startTrial {
	display: none !important;
}

/* Hide the leftover menu divider that was above the warning */
li.menu-divider:has(+ #startTrial) {
	display: none !important;
}

/* Hide the free trial banner / upgrade card in the admin console license page */
.admin-console__banner_section:has(.AlertBanner.info.AlertBanner--sys) {
	display: none !important;
}

/* Hide the TeamEditionRightPanel card in the right panel of the admin console license page */
.right-panel:has(> .panel-card + .compare-plans-text) {
	display: none !important;
}

/* Hide any upgrade dialogs that pop up*/
div[role="dialog"]:has(> #StartTrialFormModal) {
	display: none !important;
}

/* Hide the footer notice text */
.footer-copyright {
	display: none !important;
}
